format = """
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$python\
$aws\
${env_var}
$username\
$hostname\
$character"""

add_newline = true

[character]
vimcmd_symbol = '[N ❮](bold yellow)'
vimcmd_visual_symbol = '[V ❮](bold yellow)'
vimcmd_replace_symbol = '[R ❮](bold yellow)'
vimcmd_replace_one_symbol = '[R ❮](bold yellow)'
success_symbol = '[I ❯](bold green)'
error_symbol = '[I ❯](bold red)'

[directory]
truncate_to_repo = false
truncation_length = 8

[hostname]
ssh_symbol = ''
format = '@[$ssh_symbol$hostname]($style) '
ssh_only = false

[username]
format = '[$user]($style)'
show_always = true

[env_var.PERSONAL_ACCOUNT]
format="\\([$env_value](red bold)@"

[env_var.ACCOUNT]
variable="ACCOUNT"
format="[$env_value](yellow bold)\\) "
